.servicesList {

  .title-container {
    margin-bottom: 50px;

    p {
      font-family: "DisplayDMSansNormal";
      line-height: 1.6;
      font-size: 16px;
      max-width: 45%;
      margin: 10px auto;
    }
  }

  h2 {
    font-family: "DisplaySoraBold";
    line-height: 1.4;
    font-size: 48px;
  }

  swiper-slide {
    padding: 0 10px;
  }

  @media (max-width: 992px) {
    h2 {
      font-size: 40px;
    }
    .title-container {
      margin-bottom: 30px;
      p {
        max-width: 100%;
      }
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 35px;
  }
}

.swiper-pagination-bullet {
  background-color: #F5D8FF;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #8920EC;
  width: 32px;
  border-radius: 10px;
}
